a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.mt_20 {
  margin-top: 20px;
}
.red {
  color: #A94442;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}
.pagination {
  display: inline-block;
  /* padding-left: 0; */
  float: right;
  /* margin: 20px 0; */
  border-radius: 4px;
}

.lt_aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;

}

.lt_aside.hidemenu {
  left: -180px;
}

.lt_aside .brand {
  width: 180px;
  height: 50px;
  background-color: #367FA9;
  line-height: 50px;
  text-align: center;

}

.lt_aside .brand a {
  color: #fff;
  font-size: 22px;
}

.lt_aside .user {
  padding-top: 30px;
  width: 100%;
  height: 180px;
  /* background-color: rgb(218, 30, 30); */
}

.lt_aside .user img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;

}

.lt_aside .user p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;

}

.lt_aside .nav {}

.lt_aside .nav a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;

}

.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}

.lt_aside .nav a i {
  margin-right: 4px;
}

.lt_aside .nav li .children {
  display: none;
}

.lt_aside .nav .children a {
  padding-left: 60px;
}

.lt_main {
  padding-top: 50px;
  padding-left: 180px;
  width: 100%;
  /* height: 2000px; */
  /* background-color: rgb(199, 16, 16); */
  transition: all 1s;
}
.lt_main.hidemenu {
  padding-left: 0;
}

.lt_topbar {
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 180px;
  transition: all 1s;
}
.lt_topbar.hidemenu {
  padding-left: 0;
}

.lt_topbar .icon_left,
.lt_topbar .icon_right {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}